/* Fonts importation */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* General styles */

:root {
    --background: #1c2129;
    --emphaze-color: #feb91e;
    --text-color: #f7f7f7;

    --text-font-family: 'Roboto', sans-serif;
    --title-font-family: 'Merriweather', serif;

    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

h2 {
    font-family: var(--title-font-family);
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--emphaze-color);
}

/* Container */

div#container {
    width: 100%;
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--text-font-family);
}

/* Panels */

.panel {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    border: var(--text-color) solid 1px;
    scroll-snap-align: start;
}

main {
    scroll-snap-type: y proximity;
    height: 100vh;
    overflow-y: scroll;
}

/* First panel : Homescreen */

.firstLook {
    grid-area: 2 / 2 / 8 / 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.firstLook div.profile_picture {
    width: 100%;
    max-width: 500px;
}

.firstLook div.profile_picture img {
    width: 100%;
    border: var(--emphaze-color) solid 2px;
    border-radius: 50%;
    object-fit: cover;
    flex: 1;
}

.firstLook .sideText {
    text-align: start;
    flex: 2;
}

.firstLook .sideText p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Presentation */

article {
    grid-area: 2 / 2 / 8 / 8;
}

article p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: justify;
}

/* Intership */

#intership a {
    display: block;
    text-align: center;
}

button {
    background-color: var(--emphaze-color);
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #f7f7f7;
}